/* 
 * CSS for Accessible University Demo Site 
 * http://uw.edu/accesscomputing/AU
 *
 * after-modal.css = Styles for accessible modal 
 */
  
#cheatSheetLinkSpan a { 
  cursor: pointer;
}  
#modalMask { 
  position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;	
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.75;
	z-index: 10; 
	display: none;
}
#modalContent { 
	position: fixed;
  background-color: #FFC;
	border: 5px solid black;
	padding: 1em;
	font-weight: normal;
	text-align: left;
	width: 50%;
	top: 10%;
	left: 25%;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	filter:alpha(opacity=100);
	z-index: 100;
	display: none;
}
h1#modalHeading { 
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0.25em 1em;
}
#modalContent ol { 
  width: 30em;
  margin: 0 auto;
}
#modalXButton { 
  position: absolute;
  right: 5px;
  top: 5px;
}
#modalOkButton { 
  
}
