/* 
 * CSS for Accessible University Demo Site 
 * http://uw.edu/accesscomputing/AU
 *
 * after-carousel.css = Styles for accessible carousel
 */
  
#carousel { 
  position: relative;
  background-color: #000;
  text-align: center;
  margin: 0 0 10px;
  width: 100%;
  min-width: 720px;
}
#carousel ul { 
  padding: 0;
}
#carousel .slide { 
  display: none;
  text-align: center;
  width: 580px;
  max-width: 100%;
  margin: 0 auto;
}
#carousel .slide .description { 
  font-size: 1.5em;
  padding: 0.75em 1.5em;  
  color: #CCC;
}
#carousel .slide a { 
  color: #CCC;
}
#carousel .slide img { 
}
#carousel .slide.current {
  display: block;
  z-index: 10;
}
/* 
 * 
 * Prev/Next buttons
 *
 * 
 */
.btn-prev,
.btn-next {
  position: absolute;
  z-index: 20;
  top: 147px;
  border: 0;
  padding: 0;
  background-color: #cccce0;
  transition: padding .4s ease-out;
}
.btn-prev {
  left:0;
  border-radius: 0 .25em .25em 0;
}
.btn-next {
  right:0;
  border-radius: .25em 0 0 .25em;
}
.btn-next:hover, .btn-next:focus,
.btn-prev:hover, .btn-prev:focus {
  padding-left: 2em;
  padding-right: 2em;
}

/* 
 * 
 * Slide Indicators (Lentils) 
 *
 * 
 */
ul.lentils { 
  list-style-type: none; 
  margin-top: 0;
}
.lentils li { 
  display: inline-block;
  margin: 1em 0.5em;
}
.lentils button {
  border: 2px solid #036;
  background-color: #036;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}
.lentils li.active button {
  border-radius: .5em;
  background-color: #FF9;
  border-color: #F93;
  color: #333;
}
