/* 
 * CSS for Accessible University Demo Site 
 * http://uw.edu/accesscomputing/AU
 *
 * main.css = Shared styles
 */
  
/* 
 * Overall structure 
 * 
 */  
body { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: black;
  background-color: #2A194C;
  margin: 0;
  padding: 0;
}
#content { 
  width: 80%;
  margin: 10px auto;
  padding: 1em;
  background: white;
  border-left: 2px solid black;
}

/* 
 * HTML Elements 
 *
 */
a { 
  color: #3E0087;
}

/* 
 * Shared Form Styles
 *
 */

form > div { 
  margin: 1em 0;
}
form input[type="text"] { 
  display: block; 
  width: 95%;
}

/* 
 * 
 * Custom Styles 
 *
 */
.section img { 
  float: left;
  padding: 0 0.5em 0; 
}
#errorMsg { 
  background-color: #FFFFCC;
  border: 2px solid #39275B;
  padding: 0.25em 0.75em;
  font-weight: bold;
  margin: 1em 0;
  display: none;
}   

/* 
 *
 * Enrollment Table 
 *
 */
table#enrollment { 
  background-color: black;
  margin-bottom: 1em;
}
table#enrollment th, table#enrollment td { 
  background-color: white;
  padding: 1px;
  width: 3em;
  text-align: center;
}

/* 
 *
 * Footer 
 *
 */
div#ccLogo { 
  float: left;
  padding: 0 1em 0.5em 0;
}
#footer p, 
footer p { 
  clear: left;
}
#footer a, 
footer a { 
  color: #39275b;
  text-decoration: underline;  
}

/* 
 * 
 * Somewhat Responsive 
 *
 */

@media (max-width: 1250px) { 
  /* not wide enough for outside margins */ 
  #content { 
    width: 98%;
    margin:0;
    padding: 1em;
  }
}
@media (max-width: 1050px) { 
  /* point at which Application form  drops below content */ 
  #main { 
    width: 100%;
    max-width: 720px;
  }
  #appForm { 
    float: left !important;
    width: 100% !important;
    max-width: 40em;
  }
}
    
		

